@charset "utf-8";

/*
Base style
*/
/* bodyにデフォルトの設定 */
body {
    /* webフォントのfont-familyをcssに設定 */
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    /* フォントサイズ */
    font-size: 15px;
    /* 行間 */
    line-height: 1.5;
    /* フォントの色を白に */
    color: #fff;
    /* 背景を黒に */
    background-color: #000;

}
button {
    /* カーソルが指マークになる */
    cursor: pointer;
    /* buttonタグのデフォルトのborderのスタイルをリセット */
    border: 0;
}

/*
grid
*/
/* ulタグ部分 */
.grid {
    /* ulタグのデフォルトでついているpaddingとmarginをリセット */
    margin: 0;
    padding: 0;
    /* 子要素を横並びに */
    display: flex;
    /* 子要素を折り返す */
    flex-wrap: wrap;
    /* 子要素を中央ではなく縦方向に揃える */
    align-items: stretch;
    /* 子要素を中央ではなく左端から詰める（外側に余白を作らないため） */
    justify-content: flex-start;
    /* 子要素間の隙間（内側の余白） */
    gap: 30px;
    /* 背景 */
    background-color: #763f96;
    /* 背景に細かい斜線を入れる（繰り返しの線形グラデーション） */
    background: repeating-linear-gradient(
        135deg, /* 45度の右斜め線 */
        /* 以下ひとまとまりで1パターン, これを繰り返す */
        rgba(128, 0, 128, 0.2) 0px,    /* 透明度のある濃い紫, 開始位置 */
        rgba(128, 0, 128, 0.2) 5px,   /* 同じ色, 20pxまで塗りつぶし */
        rgba(208, 119, 230, 0.4) 5px,  /* アクセントとなる明るい紫, 開始位置 */
        rgba(208, 119, 230, 0.4) 7px   /* 同じ色, 40pxまで塗りつぶし */
        );
    border-radius: 15px;
}

/* liタグ部分 */
.grid-item {
    /* liタグのデフォルトのリスト記号をなくす */
    list-style: none;
    /* 外側の余白を持たせない */
    margin: 0;
}

/* columnごとのgrid-itemの横幅を設定 */
.grid-col-4 > .grid-item {
    /* gapがあっても1行に4つ並ぶように幅を計算 */
    /* 計算
    - 100%: 親要素（ulタグ）の横幅
    - 30px: 4columnの場合gap(30px)が3個できるため、(30px * 3)= 90px
    - 100% - 90px:  「ulタグの横幅 - gapの合計」 つまり、ボタンが使える残りの幅
    - ボタンが使える残りの幅を4等分
    */
    width: calc((100% - (30px * 3)) / 4);
}
.grid-col-2 > .grid-item {
    width: calc((100% - (30px * 1)) / 2);
}
.grid-col-6 > .grid-item {
    width: calc((100% - (30px * 5)) / 6);
}


/*
grid-layout
*/
.grid-layout {
    max-width: 780px;
    width: 100%;
    /* 上下左右を調整して、divタグ全体を見やすく */
    margin: 100px auto 0;
    /* ulタグの周りから紺の背景を別途つけるため、上下左右の間を調整 */
    padding: 25px;
    /* 子要素を中央揃え */
    text-align: center;
    /* 背景を紺に */
    background-color: #1c0c4d;
    border-radius: 15px;
    border: 0.5px solid hsl(180, 1%, 24%);
}
@media screen and (max-width: 768px){
    .grid-layout {
        max-width: 400px;
        width: 100%;
         /* 余白を小さくして、divタグ全体を見やすく */
        margin: 50px auto 0;
        /* 紺の背景を小さくするため、ulタグの周りを調整 */
        padding: 10px;
    }
}

/*
button
*/
/* ボタンのテキスト部分（グリッドレイアウト・ログインフォーム共通） */
.button {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    /* ボタンのテキストを中央に */
    text-align: center;
}
.grid-button {
    /* 上下にpadding・marginを調整可能に */
    display: inline-block;
    background-color: #dc4fdc;
    border-radius: 15px;
    /* 下線をなくす */
    text-decoration: none;
    /* 各ボタン自体の上下の間を調整 */
    padding: 30px 0;
    /* 外側の余白は0にして、gapで管理 */
    margin: 0;
    /* 横幅を親要素（liタグ）の幅に合わせる */
    width: 100%;
    transition: background-color .5s;
}
.grid-button:hover {
    background-color: #b541b5;;
}

@media screen and (max-width: 768px){
    .grid-button {
        /* 上下の間を調整 */
        padding: 10px 0 ;
        /* 文字を小さく */
        font-size: 15px;
    }
}
